In [64]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter

In [63]:
data = pd.read_csv('/Users/andrey/DS SkillFactory/Python 1/Python 1 - Final Project/data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

# Предобработка датасета

In [148]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете
#answer_ls.clear()

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [149]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
movie = data.loc[data['budget'] == data['budget'].max()]
display(movie)

answer_ls.append(4)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month,title_mean,t_words
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431,12,17,3

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [150]:
movie = data['runtime'].max()
d = data['runtime'] == movie
movie_in  = data[d]
display(movie_in)

answer_ls.append(2)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month,title_mean,t_words
1158,tt0279111,0.469518,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,23,5.8,2003,-43076064,2,17,3

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [151]:
movie = data['runtime'].min()
d = data['runtime'] == movie
movie_in  = data[d]

display(movie_in)

answer_ls.append(3)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month,title_mean,t_words
769,tt1449283,1.425344,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,174,6.8,2011,-15540000,4,15,3

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [152]:
movie = data['runtime'].mean()
display(movie)

answer_ls.append(2)

109.65343915343915

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [153]:
movie = data['runtime'].median()

display(movie)

answer_ls.append(1)

106.5

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [154]:
data['profit'] = data['revenue'] - data['budget']
data['profit'] = data.apply(lambda x: x['revenue'] - x['budget'] if not np.isnan(x['budget']) else x['profit'], axis=1)
movie = data['profit'].max()
d = data['profit'] == movie
movie_in  = data[d]

display(movie_in)

answer_ls.append(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month,title_mean,t_words
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,8458,7.1,2009,2544505847,12,6,1

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [155]:
movie = data['profit'].min() 
d = data['profit'] == movie
movie_in  = data[d]

display(movie_in)

answer_ls.append(2)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month,title_mean,t_words
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431,12,17,3

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [156]:
display(len(data[data['revenue'] > data['budget']]))

answer_ls.append(1)

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [157]:
# prepare the data

list2008 = data[data['release_year'] == 2008]
movie = list2008['profit'].max() 
d = data['profit'] == movie
movie_in  = data[d]

# display the answer

display(movie_in)

answer_ls.append(4)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month,title_mean,t_words
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825,7,15,3

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [158]:
# prepare the data

list1214 = data[data['release_year'].isin(range(2012,2015))]
movie = list1214['profit'].min() 
d = data['profit'] == movie
movie_in  = data[d]


# display the answer

display(movie_in)

answer_ls.append(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month,title_mean,t_words
1246,tt1210819,1.21451,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090,7,15,3

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [159]:
# prepare the data

data.groupby(['genres']).count()
s = data['genres'].str.split('|')
joinlist = []
for i in s:
    joinlist += i
c = Counter(joinlist)
g_list = ['Action', 'Adventure', 'Drama', 'Comedy', 'Thriller']

# display the answer

display (pd.Series(c, index = g_list))
display(max(c, key = c.get))

answer_ls.append(3)

Action       583
Adventure    416
Drama        782
Comedy       683
Thriller     597
dtype: int64

'Drama'

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [160]:
t = data[data['profit'] > 0]
t.groupby(['genres']).count()
s = t['genres'].str.split('|')
joinlist = []
for i in s:
    joinlist += i
c = Counter(joinlist)
g_list = ['Action', 'Adventure', 'Drama', 'Comedy', 'Thriller']

display (pd.Series(c, index = g_list))
display(max(c, key = c.get))

answer_ls.append(3)

Action       444
Adventure    337
Drama        560
Comedy       551
Thriller     446
dtype: int64

'Drama'

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [161]:
data.groupby(['director']).count()
s = data['director'].str.split('|')
joinlist = []
for i in s:
    joinlist += i
c = Counter(joinlist)
d_list = ['Steven Spielberg', 'Ridley Scott', 'Steven Soderbergh', 'Christopher Nolan', 'Clint Eastwood']

display (pd.Series(c, index = d_list))
display(max(d_list, key = c.get))

answer_ls.append(3)

Steven Spielberg     10
Ridley Scott         12
Steven Soderbergh    13
Christopher Nolan     8
Clint Eastwood       12
dtype: int64

'Steven Soderbergh'

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [162]:
t = data[data['profit'] > 0]
t.groupby(['director']).count()
s = t['director'].str.split('|')
joinlist = []
for i in s:
    joinlist += i
c = Counter(joinlist)
d_list = ['Steven Spielberg', 'Ridley Scott', 'Steven Soderbergh', 'Christopher Nolan', 'Clint Eastwood']

display (pd.Series(c, index = d_list))
display(max(d_list, key = c.get))

answer_ls.append(2)

Steven Spielberg     10
Ridley Scott         12
Steven Soderbergh    10
Christopher Nolan     8
Clint Eastwood       10
dtype: int64

'Ridley Scott'

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [163]:
t = data[data['profit'] > 0]
temp = t[['director','profit']]
r = temp.groupby(['director']).sum()

display(r.sort_values(by ='profit',ascending=False).iloc[0])

answer_ls.append(5)

profit    5202593685
Name: Peter Jackson, dtype: int64

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [164]:
var1 = t.cast.str.split('|', expand=True).values.ravel()
var2 = np.repeat(t.profit.values, len(var1) / len(t))

l = pd.DataFrame({'cast': var1, 'profit': var2})
l1 = l.groupby(['cast']).sum()

display(l1.sort_values(by ='profit',ascending=False).iloc[0])

answer_ls.append(1)

profit    6675368452
Name: Emma Watson, dtype: int64

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [165]:
f1 = data[data['release_year'] == 2012]
var1 = f1.cast.str.split('|', expand=True).values.ravel()
var2 = np.repeat(f1.profit.values, len(var1) / len(f1))

l = pd.DataFrame({'cast': var1, 'profit': var2})
l1 = l.groupby(['cast']).sum()

display(l1.sort_values(by ='profit',ascending=True).iloc[0])

answer_ls.append(3)

profit   -68109207
Name: Kirsten Dunst, dtype: int64

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [166]:
budget_f = data[data['budget'] > data['budget'].mean()]
budget_f.groupby(['cast']).count()
s = budget_f['cast'].str.split('|')
joinlist = []
for i in s:
    joinlist += i
a_list = ['Tom Cruise', 'Mark Wahlberg', 'Matt Damon', 'Angelina Jolie', 'Adam Sandler']
c = Counter(joinlist)

display (pd.Series(c, index = a_list))
display(max(a_list, key = c.get))

answer_ls.append(3)

Tom Cruise        15
Mark Wahlberg     14
Matt Damon        18
Angelina Jolie    16
Adam Sandler      17
dtype: int64

'Matt Damon'

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [167]:
cage = data[data['cast'].str.contains('Nicolas Cage')]
cage.groupby(['genres']).count()
s = cage['genres'].str.split('|')
joinlist = []
for i in s:
    joinlist += i
c = Counter(joinlist)
g_list = ['Drama', 'Action', 'Thriller', 'Adventure', 'Crime']

display (pd.Series(c, index = g_list))
display(max(g_list, key = c.get))

answer_ls.append(2)

Drama        12
Action       17
Thriller     15
Adventure     7
Crime        10
dtype: int64

'Action'

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [168]:
studio = data['production_companies'].str.split('|')
joinlist1 = []
for i in studio:
    joinlist1 += i
t = Counter(joinlist1)
c_list = ['Universal Pictures','Paramount Pictures', 'Columbia Pictures','Warner Bros.','Twentieth Century Fox Film Corporation']

display (pd.Series(t, index = c_list))
display(max(c_list, key = t.get))

answer_ls.append(1)

Universal Pictures                        173
Paramount Pictures                        122
Columbia Pictures                         117
Warner Bros.                              168
Twentieth Century Fox Film Corporation    109
dtype: int64

'Universal Pictures'

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [169]:
f_year = data[data['release_year'] == 2015]
studio = f_year['production_companies'].str.split('|')
joinlist1 = []
for i in studio:
    joinlist1 += i
t = Counter(joinlist1)
c_list = ['Universal Pictures','Paramount Pictures', 'Columbia Pictures','Warner Bros.','Twentieth Century Fox Film Corporation']

display (pd.Series(t, index = c_list))
display(max(c_list, key = t.get))

answer_ls.append(4)

Universal Pictures                        10
Paramount Pictures                         7
Columbia Pictures                          7
Warner Bros.                              12
Twentieth Century Fox Film Corporation     8
dtype: int64

'Warner Bros.'

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [170]:
data['profit'] = data['revenue'] - data['budget']
comedy = data[data['genres'].str.contains('Comedy')]
var1 = comedy.production_companies.str.split('|', expand=True).values.ravel()
var2 = np.repeat(comedy.profit.values, len(var1) / len(comedy))

l = pd.DataFrame({'production_companies': var1,'profit': var2})
l1 = l.groupby(['production_companies']).sum()

display(l1.sort_values(by ='profit',ascending=False).iloc[0])

answer_ls.append(2)

profit    8961545581
Name: Universal Pictures, dtype: int64

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [171]:
data['profit'] = data['revenue'] - data['budget']
studio_year_revenue = data[data['release_year']==2012]
var1 = studio_year_revenue.production_companies.str.split('|', expand=True).values.ravel()
var2 = np.repeat(studio_year_revenue.profit.values, len(var1) / len(studio_year_revenue))

l = pd.DataFrame({'production_companies': var1,'profit': var2})
l1 = l.groupby(['production_companies']).sum()

display(l1.sort_values(by ='profit',ascending=False).iloc[0])

answer_ls.append(3)

profit    2501406608
Name: Columbia Pictures, dtype: int64

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [172]:
lost_proffit = data[data['production_companies'].str.contains('Paramount Pictures')]
var1 = lost_proffit.original_title.str.split('|', expand=True).values.ravel()
var2 = np.repeat(lost_proffit.profit.values, len(var1) / len(lost_proffit))

l = pd.DataFrame({'production_companies': var1,'profit': var2})
l1 = l.groupby(['production_companies']).sum()

display(l1.sort_values(by ='profit',ascending=False).iloc[-1])

answer_ls.append(1)

profit   -64831034
Name: K-19: The Widowmaker, dtype: int64

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [173]:
var1 = data['release_year']
var2 = np.repeat(data.profit.values, len(var1) / len(data))
l = pd.DataFrame({'production_companies': var1,'profit': var2})
l1 = l.groupby(['production_companies']).sum()
l1.sort_values(by ='profit',ascending=False)

display(l1.sort_values(by ='profit',ascending=False).iloc[0])

answer_ls.append(5)

profit    18668572378
Name: 2015, dtype: int64

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [174]:
warner_proffit = data[data['production_companies'].str.contains('Warner Bros')]
var1 = warner_proffit['release_year']
var2 = np.repeat(warner_proffit.profit.values, len(var1) / len(warner_proffit))

l = pd.DataFrame({'production_companies': var1,'profit': var2})
l1 = l.groupby(['production_companies']).sum()

display(l1.sort_values(by = 'profit',ascending = False).iloc[0])

answer_ls.append(1)

profit    2295464519
Name: 2014, dtype: int64

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [175]:
data['release_month'] = pd.DatetimeIndex(data['release_date']).month
sum_month = Counter(data['release_month'])
m_list = {1: 'Январь', 6: 'Июнь', 12: 'Декабрь', 9: 'Сентябрь', 5: 'Май'}

display (pd.Series(sum_month, index = m_list))
display( m_list[max(m_list, key = sum_month.get)])

answer_ls.append(4)

1     110
6     147
12    191
9     227
5     140
dtype: int64

'Сентябрь'

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [176]:
sum_month = ((data['release_month'] == 6) | (data['release_month'] == 7) | (data['release_month'] == 8) )
t = Counter(sum_month)

display(t[True])

answer_ls.append(2)

450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [177]:
winter_monthes = data[(data['release_month'] ==12) | (data['release_month'] == 1) | (data['release_month'] == 2)]
temp = winter_monthes[['director','profit']]
r = temp.groupby(['director']).sum()

display(r.sort_values(by ='profit',ascending=False).iloc[0])

answer_ls.append(5)

profit    4435590117
Name: Peter Jackson, dtype: int64

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [178]:
var1 = data['release_month']
var2 = np.repeat(data.profit.values, len(var1) / len(data))

l = pd.DataFrame({'month': var1,'profit': var2})
l1 = l.groupby(['month']).sum()
m_list = {1: 'Январь', 6: 'Июнь', 12: 'Декабрь', 9: 'Сентябрь', 5: 'Май'}

display(l1.sort_values(by ='profit',ascending=False).iloc[0])

answer_ls.append(2)

profit    27551262500
Name: 6, dtype: int64

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [179]:
data['title_mean'] = data.original_title.apply(lambda x: len(x))
var1 = data.production_companies.str.split('|', expand=True).values.ravel()
var2 = np.repeat(data.title_mean.values, len(var1) / len(data))

l = pd.DataFrame({'production_companies': var1, 'title_mean': var2})
l1 = l.groupby(['production_companies']).max()

display(l1.sort_values(by ='title_mean',ascending=False).iloc[0])

answer_ls.append(5)

title_mean    83
Name: Four By Two Productions, dtype: int64

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [180]:
#create column with splitted titles 
data['t_words'] = data['original_title'].str.split().str.len()
var1 = data.production_companies.str.split('|', expand=True).values.ravel()
var2 = np.repeat(data.t_words.values, len(var1) / len(data))
l = pd.DataFrame({'production_companies': var1, 'title_mean': var2})
#calculate mean
l1 = l.groupby(['production_companies']).mean()

#display answer
display(l1.sort_values(by ='title_mean',ascending=False).iloc[0])

answer_ls.append(5)

title_mean    12.0
Name: Four By Two Productions, dtype: float64

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [181]:
res = set()
u_titles = data['original_title'].str.lower().str.split().apply(res.update)

display(len(res))

answer_ls.append(3)

2461

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [182]:
#sort all the data by average vote
t = data.sort_values(by = 'vote_average', ascending=False)

# displaing the top 1 percent 
display(t[0:(round(len(data)/100)+1)][['original_title','vote_average']])

answer_ls.append(1)

                                         original_title  vote_average
600                                     The Dark Knight           8.1
125                                  The Imitation Game           8.0
9                                            Inside Out           8.0
118                                        Interstellar           8.0
34                                                 Room           8.0
1082      The Lord of the Rings: The Return of the King           7.9
873                                         The Pianist           7.9
1801                                            Memento           7.9
1192                                   12 Years a Slave           7.9
128                                           Gone Girl           7.9
138                            The Grand Budapest Hotel           7.9
119                             Guardians of the Galaxy           7.9
1184                            The Wolf of Wall Street           7.9
370                                           Inception           7.9
316                                            3 Idiots           7.8
1564              Eternal Sunshine of the Spotless Mind           7.8
497   The Lord of the Rings: The Fellowship of the Ring           7.8
28                                            Spotlight           7.8
1214                                 Dallas Buyers Club           7.8
864               The Lord of the Rings: The Two Towers           7.8

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [183]:
s0 = data['cast'].str.split('|')
s3 = ['Vin Diesel','Paul Walker']
s2 = ['Hugh Jackman' ,'Ian McKellen']
s1 = ['Johnny Depp','Helena Bonham Carter']
s4 = ['Adam Sandler','Kevin James']
s5 = ['Daniel Radcliffe','Rupert Grint']
setlist= []
for i in s0:
    result1 =  any(elem in i  for elem in s1)
    result2 =  any(elem in i  for elem in s2)
    result3 =  any(elem in i  for elem in s3)
    result4 =  any(elem in i  for elem in s4)
    result5 =  any(elem in i  for elem in s5)
    
    if result1:
        setlist.append(1)
    elif result2:
        setlist.append(2)
    elif result3:
        setlist.append(3)
    elif result4:
        setlist.append(4) 
    elif result5:
        setlist.append(5) 
sorted((Counter(setlist)).items())

answer_ls.append(5)

# 36. У какого из режиссеров самый высокий процент фильмов со сборами выше бюджета?
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [184]:
#get number of profitable movies by director
t = data[data['profit'] > 0]
t.groupby(['director']).count()
s = t['director'].str.split('|')
joinlist = []
for i in s:
    joinlist += i
c = Counter(joinlist)

#get number of all movies by director
b = data[data['budget'] > 0]
b.groupby(['director']).count()
l = b['director'].str.split('|')
joinlist1 = []
for i in l:
    joinlist1 += i
c1 = Counter(joinlist1)

#calculate the rate 
rate = (pd.Series(c)/pd.Series(c1)*100)
d_list = ['Quentin Tarantino', 'Steven Soderbergh', 'Robert Rodriguez', 'Christopher Nolan', 'Clint Eastwood']

#display answer
display (pd.Series(rate, index = d_list))
display(pd.Series(rate, index = d_list).idxmax(axis = 0))

answer_ls.append(4)

Quentin Tarantino     85.714286
Steven Soderbergh     76.923077
Robert Rodriguez      72.727273
Christopher Nolan    100.000000
Clint Eastwood        83.333333
dtype: float64

'Christopher Nolan'

# Submission

In [186]:
len(answer_ls)

36

In [185]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       3
12  13       3
13  14       2
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4